<%- include("layout/header") %>
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <% if (message) { %>
                <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong> <%= message.message %></strong>
                </div>
            <% } %>
            <div class="table-responsive">
                <% if (typeof mangas !== 'undefined' && mangas.length > 0) { %>
                    <table class="table table-striped text-center my-3 p-4">
                        <thead>
                            <tr class="table-dark text-center">
                                <th class="text-center"> - </th>
                                <th class="text-center">  </th>
                                <th class="text-center">  </th>
                                <th class="text-center">  </th>
                                <th class="text-center"> - </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% mangas.forEach((row, index) =>{ %>
                                <tr>
                                    <td class="text-center"><%= index %></td>
                                    <td class="text-center"><img src="/uploads/<%= row.coverImg %>" alt="<%= 'Cover image for ' + row.title %>" width="200" height="360"  class="img-thumbnail"/></td>
                                    <td class="text-center"><%= row.title %></td>
                                    <td class="text-center"><%= row.description %></td>
                                    <th class="text-center"><%= row.chapters %></th>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <h1 class="text-center text-secondary mt-5">No Mangas Found!</h1>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="chatbot" style="position: fixed; bottom: 50px; left: 0; width: 300px; background-color: white; padding: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5); display: block;" id="chatbot">
    <h2>Welcome to GoKomiks BOT</h2>
    <div>
        <label for="manga-query">
            <h5>Anything I can help you with?</h5> 
        </label>
        <h1></h1>
        <form action="/whatisgokomiks" method="POST">
            <button type="submit">What is GoKomiks?</button>
        </form>
        <h1></h1>
        <form action="/manga" method="POST">
            <button type="submit">What is the latest manga?</button>
        </form>
        <h1></h1>
        <form action="/highrated" method="POST">
            <button type="submit">What is the highest rated manga?</button>
        </form>
        <h1></h1>
        <form action="/mostviewed" method="POST">
            <button type="submit">What is the most read manga?</button>
        </form>
    </div>
</div>
<button onclick="toggleChatbot()" aria-controls="chatbot" aria-expanded="true" style="position: fixed; bottom: 10px; left: 10px;">BOT</button>
<script>
    function toggleChatbot() {
        var chatbot = document.getElementById('chatbot');
        var isVisible = chatbot.style.display === 'block';
        chatbot.style.display = isVisible ? 'none' : 'block';
        document.querySelector('button[aria-controls="chatbot"]').setAttribute('aria-expanded', !isVisible);
    }
</script>
<%- include("layout/footer") %>
